<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>
<h2>Comments</h2>
<%= render partial: "web/common/articles/comments/comment", collection: @article.comments %>
<% if user_signed_in? %>
  <h2>Add a comment:</h2>
  <%= render partial: 'web/common/articles/comments/form' %>
<% end %>
<%= link_to 'Back', articles_path %>
